[submodule "components/uthash/uthash"]
	path = components/uthash/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "components/http_parser/http_parser"]
	path = components/http_parser/http_parser
	url = https://github.com/nodejs/http-parser.git
[submodule "components/keccak/keccak"]
	path = components/keccak/keccak
	url = https://github.com/XKCP/XKCP.git
[submodule "components/iota_common/iota_common"]
	path = components/iota_common/iota_common
	url = https://github.com/iotaledger/iota_common.git
[submodule "components/iota_client/iota_client"]
	path = components/iota_client/iota_client
	url = https://github.com/iotaledger/iota.c.git
